    nav 
 {
     font-family: "lato", sans-serif;
     font-weight: 700;
     font-style: normal;
    }

.navbar{
    background-color: #4c564b;
}

.navbar .nav-link{
    color: #bebdab; 
}

body {  
    background-color: #bebdab;
 
    
} 

.contact{
	color:#05350b
}
.img-fluid.header{
    opacity:50%;
}

.container-fluidimage {
    position: relative;
    text-align: center;
    color: #05350b;
        padding-top: 2em;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Holtwood One SC", sans-serif;
    font-size: min(5vw, 600px);
}


 .home.heading {
    padding-left: 2em;
    font-family: "p22-morris-troy", sans-serif;
    padding-top: 00.5em; 
    color: #05350b;
     text-decoration: underline;
}

.org-info {
    font-family: "lato", sans-serif;
    color: #05350b;
}

.container.about {
    padding-top: 2em;
    max-width: 950px;
    align-content: center;
    padding-bottom: 2em;
}

.home {
    font-family: "p22-morris-troy", sans-serif;
    text-align: center;
    padding-bottom: 0.5em;
}

.container.history{
    padding-left: (15em,25em);
    padding-right: (15em,25em);
    color:#05350b;
    padding-top: 1.5em;
    max-width: 950px;
    align-content: center;
    
}

.footer {
	background-color:#4c564b;
	color: #bebdab;
}

.text{
	padding-left: 3em;
	max-width: 950px;
}

.text-list{
	padding-left: 5em;
	max-width: 950px;
}

.container.history.pull{
    padding-left: (15em,25em);
    padding-right: (15em, 25em);
    color:#05350b;
    text-align: center;
}

ul {
	list-style-type: none; /* Removes the bullet points */
	padding: 0;           /* Removes default indentation */
  margin: 0;            /* Removes default margins */
}

h3{
	color:#05350b;
}

.right{
	text-align: right;
}

.form{
	padding-left:4em;
	padding-right:4em;
}
.btn.btn-outline-dark.contact
{
	align-content: center;
}


